body {
    background-color: #0202;
    overflow: hidden;
    position: relative;
    margin: 0;
}
.container{
    /* margin-top: 110px; */
    /* align-content: center; */
    background-color: #28282B;
    width: 495px;
    height: 400px;
    padding-left: 30px;
    border-radius: 4px;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,30%);
}
h1{
    padding-top: 20px;
    color: white;
    font-size: 22px;
}
h2{
    margin-top: -13px;
    color: green;
    font-size: 23px;
}
p{
    color: gray;
    font-size: 20px;
}
.password-label{
    display: inline;
    color: gray;
    font-size: 20px;
}
.password-input{
    background-color: gray;
    width: 203px;
    height: 25px;
    margin-left: 50px;
    margin-bottom: 10px;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    cursor: pointer;
    border: none;
}
.text-input1{
    margin-left: 78px; 
}
button{
    display: block;
    background-color: green;
    color: black;
    font-size:18px;
    padding: 4px 13px 4px 13px;
    border-radius: 3px;
    border: none;
    margin: 10px 0px 40px 241px;
    width: 209px;
    font-weight: bold;
    cursor: pointer;
}
button:active{
    transform: scale(0.98);
}
.display-unit {
    background-color: gray;
    width: 150px;
    height: 25px;
    margin-bottom: 10px;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    cursor: default;
    flex-shrink: 0;
    padding: 0 8px;
    display: inline;
    align-items: right;
    border: none;
}
.display-unit::placeholder{
    color: rgb(54, 53, 53);
}
input:focus{
    outline: none;
}
.copy-password {
     height: 36px;
     display: flex;
     max-width: 250px; 
     cursor: pointer;
     justify-content: space-around;
     align-items: right;
     justify-items: right;
     margin-left: 110px;
     border: none;
}
.material-icons {
    background-color: green;
    margin-top: 0px;
    height: 25px;
    /* width: 300px; */
    margin-left: -2px;
    padding: 2px 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: 28px;
}

@media screen and (max-width:496px){
    .container{
        width: 300px;
        height: auto;
        padding-left: 0px;
        margin-top: 10px;
        padding-bottom: 30px;
        transform: translate(-50%, 10%);
    }
    p, h1, h2{
        text-align: center;
    }
    .password-input{
        width: 203px;
        height: 25px;
        margin-left: 30px;
        margin-top:5px;
        margin-bottom: 10px;
    }
    .password-label{
        margin-left: 30px;
    }
    .text-input1{
        margin-left: 30px; 
    }
    button{
        font-size:16px;
        padding: 4px 10px 4px 10px;
        margin: 5px 0px 15px 70px;
        width: 190px;
    }
    .display-unit {
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 3px;
        font-size: 17px;
        padding: 0 8px;
        display: inline;
        align-items: left;
    }
    .copy-password {
         height: 36px;
         display: inline;
         max-width: 50px; 
         align-items: left;
         margin-left: 30px;
    }
    #display-unit2{
        margin-left: 30px;
    }
    .material-icons {
        margin-left: -3px;
        height: 25px;
        width: 50px;
        padding: -5px 10px 1px 10px;
        display: inline-block;
    }
    .span-icon{
        margin-top: -1px;
    }
    .span2{
        margin-top: 1px;
    }
}